<% @title = 'moshimo ranking' %>

<section>
  <h2>Ranking</h2>
  <%= will_paginate @rankings, renderer: BootstrapPagination::Rails %>
  <ol>
    <% @rankings.each do |ranking| %>
      <% article = ranking.article %>
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag("http://image.moshimo.com/item_image/#{article.image_code}/1/s.jpg"), "#" %>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><%= link_to article.name, "#" %> (ID: <%= article.article_id %>)</h3>
          <table class="price">
            <tr>
              <th>利益</th>
              <th>利益率</th>
              <th>販売価格</th>
            </tr>
            <tr>
              <td class="default_profit_price"><%= article.default_profit_price %>円</td>
              <td class="default_profit_rate"><%= article.default_profit_rate %>%</td>
              <td class="shop_price"><%= article.shop_price %>円</td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  </ol>
  <%= will_paginate @rankings, renderer: BootstrapPagination::Rails %>
</section>
