<% @title = @article.name %>
<h1><%= @title %></h1>

<section>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("http://image.moshimo.com/item_image/#{@article.image_code}/1/l.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>商品ID</th>
          <td><%= @article.article_id %></td>
        </tr>
        <tr>
          <th>販売価格(税込)</th>
          <td><%= @article.shop_price %>円</td>
        </tr>
        <tr>
          <th>利益(税込)</th>
          <td><%= @article.default_profit_price %>円 <%= @article.default_profit_rate %>%</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section>
  <div id="chart"></div>
</section>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%
  category_rankings = @rankings.where(category: @category)
  all_rankings      = @rankings.where(category: 'all')
  data = "["
  category_rankings.each do |row|
    all_ranking = all_rankings.where(created_at: row.created_at.all_day).first
    all_ranking = all_ranking ? all_ranking.ranking : 1000  # ランク外を1000位と仮定
    data += %Q{ [new Date('#{row.created_at.strftime('%Y-%m-%d')}'), #{row.ranking}, #{all_ranking}], } 
  end
  data += "]"
%>
<%= javascript_tag do %>
  google.load('visualization', '1', {packages: ['corechart', 'line']});
  google.setOnLoadCallback(drawChart);

  function drawChart(){
    var data = new google.visualization.DataTable();
    data.addColumn('date', '日付');
    data.addColumn('number', '<%= MY_APP["category"][@category] %>');
    data.addColumn('number', '全商品');

    data.addRows(<%= data.html_safe %>);
    var options = {
//    curveType: 'function',
      vAxis: { direction: -1,
               maxValue: 100,
               minValue: 1,
               viewWindow: { max: 100, min: 1 }
             },
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));
    chart.draw(data, options);
  }
<% end %>
